<h1>RSVP</h1>
<p class="lead">Please respond before the 29th of June so that we can make arrangments with the hotel.
</p>
<p>
    You can RSVP by email or post however it may be better to use email because there's no delay. Email
    <a href="mailto:briandangerous@gmail.com?Subject=Wedding%20RSVP">Brian</a> giving details of the numbers and any special requirements.
</p>

<p>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    Include your favourite song when you RSVP and we will try to include it in the playlist.
</p>