<h1>Gift</h1>
<p>Having you along to celebrate our big day is important to us.
    <i>This means the world to us!</i>
</p>
<p>If you would like to get us a gift, we would much appreciate some money to help us on our way.</p>
<div class="well">
    <cite>
        <p>As we've lived together for a year or two,</p>
        <p>We really don't need anything new.</p>
        <p>But if you were thinking of getting us a small wedding gift,</p>
        <p>Some money for our honeymoon wouldn't go amiss.</p>
        <br/>
    </cite>
    <p class="big">Thank you!</p>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <img src="../../../assets/brianandlaura.jpg" alt="Brian and Laura" />
    </div>
    <div class="col-md-2"></div>
</div>
