<br />
<div class="headline row">
    <div class="jumbotron col-md-8">
        <h1>Celebrate!</h1>
        <h3>20th of August 2018</h3>
        <p>The wedding ceremony will be at 2pm</p>
    </div>
</div>
<p>Guests should arrive from 1pm. The ceremony at Chancellors hotel will be followed by reception drinks and wedding breakfast.</p>
<h2>Wedding Breakfast</h2>
Family members and close friends will be invited to join us for a meal after the wedding ceremony.
<h2>Evening Guests</h2>
<p>Please arrive at 7.30pm.  There will be an evening snack to keep you going.</p>
