<h1>Travel</h1>
<h2>Chancellors Hotel</h2>
<p>
The hotel is roughly 3 miles south of the city centre.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38001.90902759958!2d-2.260290824951443!3d53.466327705894024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb23235de09b1%3A0xda2f02164699d59b!2sChancellors+Hotel!5e0!3m2!1sen!2suk!4v1524913393329" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<h3>Train</h3>
<p>If you are travelling by train, the hotel is only 15 minutes taxi ride for <b>Manchester Picadilly station</b>. You could also change at Picadilly station and get a train to Mauldeth Road which is 5 minutes walk from the venue.</p>
<p>There are roughly three trains an hour from London Euston. To find detailed information click <a href="http://ojp.nationalrail.co.uk/service/planjourney/search" target="_blank">here</a>.</p>
<h3>Air Travel</h3>
<p>If you are coming from overseas, <b>Manchester Airport</b> is a 15 minutes taxi ride (8 miles) from the hotel.  There are also regular trains to Manchester Picadilly from the airport.</p>